head
  script(type="application/javascript", src="https://use.fontawesome.com/16518c4e7c.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css")
  link(href='css/master.css', rel="stylesheet")
  link(rel="stylesheet", type="text/css", href="https://code.jquery.com/ui/jquery-ui-git.css")
  //- script(type="application/javascript", src="js/index.js")
    
