extend layout
block content
  .row.justify-content-md-center
    .col-md-6.md-offset-3(style= "margin-bottom: 30px; margin-top:90px")
      form( mehod="GET", action="candidate/formulario_candidato")
        button(type="submit", class= "add_candidate btn btn-primary btn-lg btn-block") Adiconar Candidato
  .row.justify-content-md-center
    .col-md-6.md-offset-3
      form( method="GET", action="candidate/lista_candidato")
        button(type="submit", class= "list_candidate btn btn-primary btn-lg btn-block") Listar/Remover Candidatos
      
      
