.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: 	#8e502e;
   border: 1px solid #e7c85e;

}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th { //
   background-color: 	#742d1f;
   border: 1px solid #e7c85e;

}

thead{
  background-color: #742d1f;
}
.table thead th{
  border: 1px solid #e7c85e;
}
.table td, .table th{
  border: 1px solid #e7c85e;
}
.table-striped{
  color: #e7c85e;
  // border-top-color:#e7c85e;
  // border-color: #e7c85e;
}
